body {
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0%;
    height: 100vh;
}

.btn.btn-primary {
  font-family: 'Poppins', sans-serif;
    margin-right : 100px;
    background-color: rgb(88, 117, 248);
    color: white;
    border-color: black;
}
.nav-link.px-4.link-dark{
  font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: black;

}
.btn.btn-outline-primary.me-2{
  font-family: 'Poppins', sans-serif;
    background-color: rgb(88, 117, 248);
    color: white;
    border-color: black;
   
}
  figure {
  
    height: 10%;
    width: 15%;
    top: 0;
    left: 0;
    position: absolute;
  }
  img {
    position: absolute;
    width: 90%;
    margin-top: 32%;
    margin-left: 70%;
    padding: 0;
    border-radius: 50%;
  }
  .nombre {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font: weight 1px;;
    color: black;
    background-color: transparent;
    margin-top: 4%;
    margin-left: 1%;
  }
  .container {
    display:-webkit-box
}
.nombre.p1 {font-family: 'Poppins', sans-serif;
  text-align: center;
  color: black;
  margin-top: 1%;
    margin-left: 0%;

   
}
img.argentina{  
  position: absolute;
 
  width: 2%;
 margin-top: -43px;
 margin-left: 600px;
}
.linea {
  margin-top: 2%;
  border-color:white;
 background-color: white;
 height: 1px;
 opacity:100%;
  
}
.educacion{ 
  font-size: 100%;
  text-align: center;
  font-size: xx-large;
  margin-right:10px;
  margin-left: 0%;

  color: black;
  font-size: xx-large;
}
.educacion1 { 
  font-size: 100%;
  
  font-size: xx-large;
  margin-right:10px;
  margin-left: 3%;

  color: black;
  font-size: xx-large;
}
.container{
  margin-right:10px
}