body {
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0%;
    height: 100vh;
}

.btn.btn-primary {
    margin-right : 100px;
    background-color: rgb(88, 117, 248);
    color: black;
    border-color: black;
}
.nav-link.px-4.link-dark{
    background-color: rgb(0, 0, 0);
    color: black;
    border-color: black;

}
.btn.btn-outline-primary.me-2{
    background-color: rgb(88, 117, 248);
    color: black;
    border-color: black;
   
}
  figure {
  
    height: 10%;
    width: 15%;
    top: 0;
    left: 0;
    position: absolute;
  }
  img {
    position: absolute;
    width: 90%;
    margin-top: 50%;
    margin-left: 40px;
    padding: 0;
    border-radius: 50%;
  }
  .nombre {
    font: weight 1px;;
    color: black;
    background-color: transparent;
    margin-top: 8%;
    margin-left: 4%;
  }
  .container {
    display:-webkit-box
}
.nombre.p1 {
  color: black;
  margin-top: 1%;
    margin-left: 0%;

   
}
img.argentina{  
  position: absolute;
  width: 2%;
 margin-top: -43px;
 margin-left: 470px;
 
  ;
  


}